RealEstateComparator/DataAgregationService/bin/
RealEstateComparator/DataAgregationService/obj/
RealEstateComparator/RealEstateComparatorService/obj/
RealEstateComparator/.vs/
RealEstateComparator/RealEstateComparatorService/bin/
Properties
RealEstateComparator/.idea
RealEstateComparator/DbService/obj
